<% layout('layout') -%>

<div class="custom-container" ng-controller="UserProfileCtrl" ng-cloak>
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Profile Information</h3>
      </div>

      <form action="/account/profile" method="POST" class="form-horizontal" name="profileForm">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" id="email" value="<%= user.email %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Name</label>
          <div class="col-sm-6">
            <input type="text" name="name" id="name" value="<%= user.profile.name || '' %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="col-sm-4 control-label">Gender</label>
          <div class="col-sm-6">
            <label class="radio col-sm-4">
              <input type="radio" name="gender" <%= user.profile.gender == 'male' ? 'checked' : '' %> value="male" data-toggle="radio"/><span>Male</span>
            </label>
            <label class="radio col-sm-4">
              <input type="radio" name="gender" <%= user.profile.gender == 'female' ? 'checked' : '' %> value="female" data-toggle="radio"/><span>Female</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-4 control-label">Location</label>
          <div class="col-sm-6">
            <input type="text" name="location" id="location" value="<%= user.profile.location || '' %>" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-sm-4 control-label">Website</label>
          <div class="col-sm-6">
            <input type="text" name="website" id="website" value="<%= user.profile.website || '' %>" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="gravatar" class="col-sm-4 control-label">Avatar</label>
          <div class="col-sm-6"><img src="<%= user.getProfilePicture() %>" width="100" height="100" class="profile"/></div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="profileForm.$invalid">
              <i class="fa fa-pencil"></i>Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6 linked-accounts">
      <div class="page-header">
        <h3>Linked Accounts</h3>
      </div>

      <% if(user.googleId) { %>
        <p><a href="/account/unlink/google" class="text-danger">Unlink your Google account</a></p>
      <% } else { %>
        <p><a href="/auth/google">Link your Google account</a></p>
      <% } %>

      <% if(user.facebookId) { %>
        <p><a href="/account/unlink/facebook" class="text-danger">Unlink your Facebook account</a></p>
      <% } else { %>
        <p><a href="/auth/facebook">Link your Facebook account</a></p>
      <% } %>

      <% if(user.twitterId) { %>
        <p><a href="/account/unlink/twitter" class="text-danger">Unlink your Twitter account</a></p>
      <% } else { %>
        <p><a href="/auth/twitter">Link your Twitter account</a></p>
      <% } %>

      <% if(user.githubId) { %>
        <p><a href="/account/unlink/github" class="text-danger">Unlink your GitHub account</a></p>
      <% } else { %>
        <p><a href="/auth/github">Link your GitHub account</a></p>
      <% } %>

      <% if(user.linkedInId) { %>
        <p><a href="/account/unlink/linkedIn" class="text-danger">Unlink your LinkedIn account</a></p>
      <% } else { %>
        <p><a href="/auth/linkedin">Link your LinkedIn account</a></p>
      <% } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Change Password</h3>
      </div>

      <form action="/account/password" method="POST" class="form-horizontal" novalidate name="pswForm">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">New Password</label>
          <div class="col-sm-6">
            <input type="password" name="password" id="password" class="form-control" ng-model="pswChange.psw" required ng-minlength="4"/>
            <div password-strength value="pswChange.psw"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
          <div class="col-sm-6">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="pswChange.psw1" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="pswForm.$invalid || pswChange.psw != pswChange.psw1">
              <i class="fa fa-lock"></i>Change Password
            </button>
          </div>
        </div>
        <div class="alert-container" ng-show="pswChange.psw != pswChange.psw1 && pswChange.psw1">
          <hr>
          <div class="alert alert-danger">Passwords do not match!</div>
        </div>
      </form>

    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Delete Account</h3>
      </div>
      <p>You can delete your account, but keep in mind this action is irreversible.</p>
      <button class="btn btn-danger" ng-click="deactivateAccount()">
        <i class="fa fa-trash"></i> Delete my account
      </button>
    </div>
  </div>
</div>